# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Environment variables
.env
.env.*

# Python egg
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Scrapy stuff
.scrapy

# Jupyter Notebook
.ipynb_checkpoints

# VSCode settings
.vscode/

# MyPy cache
.mypy_cache/

# Pyre type checker
.pyre/

# Deployment
Procfile

# Data files
*.pkl
*.log

# Git
*.orig
