bcrypt==4.0.1
beautifulsoup4==4.12.3
fastapi==0.110.0
firebase-admin==6.6.0
jinja2==3.1.4
joblib==1.4.2
numpy==1.26.4
pandas==2.2.3
psycopg2-binary==2.9.9
pydantic==2.11.3
pyodbc==5.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.6
scikit-learn==1.4.2
selenium==4.20.0
sqlalchemy==2.0.36
uvicorn==0.27.1